<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CS CLUB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <!--    Connecting the external CSS file to the main page-->
    <link rel="stylesheet" href="../Static/Styles/main.css" />
    <!--Connecting Jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--Javascript Code to inject navbar-->
    <script>
      $(function () {
        $("#nav-placeholder").load("nav.html");
      });
    </script>
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <div class="container-fluid officers-container">
      <div class="row">
        <div class="col-md-2 offset-md-1">
          <div class="card officersCards">
            <img src="/Static/images/fakeperson.jpg" class="card-img-top officers" alt="..." />
            <div class="card-body">
              <h1 class="officerTitle">OPEN HOUSE THIS FRIDAY</h1>
              <p class="card-text">Maple Falls Elementary School will host an open house this September 23. The event is open to the public from 1:00 p.m. to 7:00 p.m.</p>
              <p class="card-text">
                Parents can discover what their child has been working on for the past year, as well as get updates about our exciting classes and programs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card officersCards">
            <img src="/Static/images/fakeperson.jpg" class="card-img-top officers" alt="..." />
            <div class="card-body">
              <h1 class="officerTitle">OPEN HOUSE THIS FRIDAY</h1>
              <p class="card-text">Maple Falls Elementary School will host an open house this September 23. The event is open to the public from 1:00 p.m. to 7:00 p.m.</p>
              <p class="card-text">
                Parents can discover what their child has been working on for the past year, as well as get updates about our exciting classes and programs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card officersCards">
            <img src="/Static/images/fakeperson.jpg" class="card-img-top officers" alt="..." />
            <div class="card-body">
              <h1 class="officerTitle">OPEN HOUSE THIS FRIDAY</h1>
              <p class="card-text">Maple Falls Elementary School will host an open house this September 23. The event is open to the public from 1:00 p.m. to 7:00 p.m.</p>
              <p class="card-text">
                Parents can discover what their child has been working on for the past year, as well as get updates about our exciting classes and programs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card officersCards">
            <img src="/Static/images/fakeperson.jpg" class="card-img-top officers" alt="..." />
            <div class="card-body">
              <h1 class="officerTitle">OPEN HOUSE THIS FRIDAY</h1>
              <p class="card-text">Maple Falls Elementary School will host an open house this September 23. The event is open to the public from 1:00 p.m. to 7:00 p.m.</p>
              <p class="card-text">
                Parents can discover what their child has been working on for the past year, as well as get updates about our exciting classes and programs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card officersCards">
            <img src="/Static/images/fakeperson.jpg" class="card-img-top officers" alt="..." />
            <div class="card-body">
              <h1 class="officerTitle">OPEN HOUSE THIS FRIDAY</h1>
              <p class="card-text">Maple Falls Elementary School will host an open house this September 23. The event is open to the public from 1:00 p.m. to 7:00 p.m.</p>
              <p class="card-text">
                Parents can discover what their child has been working on for the past year, as well as get updates about our exciting classes and programs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
